h2{
    color: blueviolet;
}

.Colors{
    font-weight: normal;
}

#Red
{
    color: red;
}
#Blue{
    color: blue;
}
#Orange{
    color: orange;
}
#Green{
    color: green;
}
#Yellow{
    color: yellow;
}